.container {

  .back {
    button {
      background: transparent;
      border: none;
      padding: 10px;
      mat-icon {
        font-size: 30px;
      }
    }
  }
  .title {
    text-align: center;
    font-size: 25px;
  }
  .text {
    padding: 0 15px 15px;
    font-size: 20px;
    line-height: 35px;
    overflow: auto;
    max-height: 60vh;
    p {
      text-align: center;
      white-space: nowrap;
    }
  }

  .media-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    .time-slider {
      width: 100% !important;
      margin-left: 20px;
      margin-right: 20px;
    }
    .media-action-bar {
      width: 100%;
      padding: 2.5rem;
      justify-content: center;
      .mat-icon {
        height: 48px !important;
        width: 48px !important;
        font-size: 48px !important;
      }
    }
  }
}

@media (max-width: 340px) {
  .container {
    .text {
      max-height: 43vh;
    }
  }
}
