<div class="container">
  <mat-toolbar color="primary" class="main-toolbar">
    <span>Carnet de chants Légion Étrangère</span>
  </mat-toolbar>
  <div class="content">
    <mat-list color="primary">
      <div class="search">
        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>Clearable input</mat-label>
          <input [formControl]="search"  matInput type="text">
          <button matSuffix mat-icon-button aria-label="Clear">
            <mat-icon>search_icon</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <h3 mat-subheader>Chants</h3>
      <mat-list-item *ngFor="let file of files; let i = index" (click)="openFile(file, i)">
        <mat-icon color="primary" mat-list-icon>music_note</mat-icon>
        <h4 mat-line>{{ file.name }}</h4>
        <h5 mat-line>by {{ file.artist }}</h5>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
</div>
